.btn-login{
    width: 300px;
    height: 50px;
    margin-bottom: 20px;
}

.form-login{
    width: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;flex-direction: column;gap: 20px;
}

.Error-text{
    width: 100%;
    color: red;
    font-family: var(--text-alternative);
    font-weight: 500;
    text-align: center;
}