.space{
    margin-bottom:100px;
}
.btn-institucional-registro{
    width: 500px;
    height: 80px;
    
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-institucional-buscar{
    width: 300px;
    height: 60px;
    
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}