.cursos-list{
    margin-top: 30px;
    width: 100%;
    display: flex;justify-content: flex-start;align-items: flex-start;flex-wrap: wrap;gap: 4%;
}
.elegir-categoria{
    width:100%;
    height: 70px;
}

.filtros{
    margin-top: 30px;
    margin-bottom: 60px;
    width: 100%;
    display: flex; justify-content: flex-start;align-items: center;
    gap: 4%;
}

.elegir-filtro{
    width: 30%;
    height: 50px;
}

.filtro-text{
    font-family: var(--text-alternative);
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}