.opciones-profesor{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boton-opcion-profesor{
    width: 25%;
    height: 40px;
}

.perfil-div{
    margin-top: 40px;
}

.boton-opcion-profesor-crear{
    width: 100%;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.acciones-alumnos{
    width: 100%;
    display: flex;justify-content: center;align-items: center;
    height: 30px;
    gap: 20px;
}
.acciones-alumnos div{
    width: 100%;
    height: 100%;
}