:root{
    --verde: #2ECC71;
    --verde-oscuro: #27AE60;
    --gris: #BDC3C7;

    --text-alternative:'Roboto', sans-serif;
    --text-primary: 'Rokkitt', serif;



}

*{
    padding: 0;margin: 0;box-sizing: border-box;
}


.App{
    background-color: var(--verde);
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

h2{
    color: black;
    font-family: var(--text-primary);
    font-weight: 500;
    text-align: center;
    font-size: 48px;
}

h3{
    color: var(--verde-oscuro);
    font-family: var(--text-alternative);
    font-weight: 500;
    text-align: center;
    font-size: 35px;
}

h4{
    color: black;
    font-family: var(--text-primary);
    font-weight: 500;
    text-align: center;
    font-size: 30px;
}

h5{
    color: black;
    font-family: var(--text-alternative);
    font-weight: 500;
    text-align: center;
    font-size: 16px;
}

span{
    color: var(--verde)
}

.centrar{
    margin: auto;
}