:root{
    --verde: #2ECC71;
    --verde-oscuro: #27AE60;
    --gris: #BDC3C7;

    --text-alternative:'Roboto', sans-serif;
    --text-primary: 'Rokkitt', serif;



}

*{
    padding: 0;margin: 0;box-sizing: border-box;
}


.App{
    background-color: var(--verde);
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

h2{
    color: black;
    font-family: var(--text-primary);
    font-weight: 500;
    text-align: center;
    font-size: 48px;
}

h3{
    color: var(--verde-oscuro);
    font-family: var(--text-alternative);
    font-weight: 500;
    text-align: center;
    font-size: 35px;
}

h4{
    color: black;
    font-family: var(--text-primary);
    font-weight: 500;
    text-align: center;
    font-size: 30px;
}

h5{
    color: black;
    font-family: var(--text-alternative);
    font-weight: 500;
    text-align: center;
    font-size: 16px;
}

h6{
    color: black;
    font-family: var(--text-primary);
    font-weight: 500;
    font-size: 18px;
}
span{
    color: var(--verde)
}

.centrar{
    margin: auto;
}

a{
    text-decoration: none;
    color: var(--verde);
}

p{
    font-size: 16px;
    color:#7e7979;
    font-family: var(--text-alternative);
}

.info-curso{
    display: flex;justify-content: space-between;align-items: flex-start;
}

@media (max-width: 767px) {
    /* Aplica tus estilos específicos para dispositivos móviles aquí */

    .logo-img img{
        margin-top: 20px;
        width: 300px !important
    }
    .AppComponentDiv{
        padding-top: 60px !important;
        
    }

    h2{
        font-size: 35px;
        margin-bottom: 10px;
    }

    h3{
        font-size: 25px;
    }
    .btn-institucional-registro, .boton{
        width: 100% !important;
    }
    form{
        width: 100% !important;
    }
    .div-crear-anuncio{
        justify-content: center !important;
        margin-bottom: 20px;
    }
    .custom-select{
        font-size: 22px;
    }
    .filtros{
        flex-direction: column;gap: 20px !important;
    }
    .elegir-filtro{
        width: 100% !important;display: flex;flex-direction: column;gap: 10px;height: auto !important;
    }

    .cursos-list{
        flex-direction: column;
    }
    .card{
        width: 100% !important;
    }
    .modal{
        width: 90% !important;
    }
    .info-curso{
        flex-direction: column;
    }

    
  }